<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <title>
    {% block title %} Base2 {% endblock %} </title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    
  </head>
  <body>

<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/stats">
      <img src="/static/logo.svg" alt="Bulma: a modern CSS framework based on Flexbox" >
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start" >
      <a class="navbar-item" href="/">
        Terminal
      </a>
        <a class="navbar-item" href="/stats">
          Stats
        </a>
        
      </div>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" href="/logout">
              <span>
                Logout
              </span>
            </a>
          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

          
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'success' %}
            <div class="notification is-success">
                <button class="delete"></button>
                {{message}}
            </div>
        {% else %}
            <div class="notification is-danger">
                <button class="delete"></button>
                 {{message}}
            </div>
        {% endif %}

    {% endfor %}
{% endif %}
{% endwith %}

<script src="/static/main.js"></script>



{% block content %}   {% endblock %}

  </body>
</html>